<% if @letters and @letters.any? -%>
<%= will_paginate @letters, :previous_label => '&larr;', :next_label => '&rarr;' %>
<table>
<tr>
<th width="16">&nbsp;</th>
<th width="16">&nbsp;</th>
<th width="80">ნომერი</th>
<th width="85">თარიღი</th>
<th width="250">მოკლე შინაარსი</th>
<th width="250">გამომგზავნი</th>
<th width="160" style="background-image: url(<%= image_path '16x16/cog.png' %>); background-repeat: no-repeat; background-position: 50% 50%;">&nbsp;</th>
</tr>
<% @letters.each do |l| -%>
<tr>
<td class="shade"><%= image_tag(l.status.image_path, :title => l.status.name) %></td>
<td class="shade">
<% if l.is_dept_assigned %><%= image_tag '/images/16x16/group.png', :title => 'განყოფილება მიკუთვნებულია' %><br/><% end %>
<% if l.is_empl_assigned %><%= image_tag '/images/16x16/user.png', :title => 'თანამშრომელი მიკუთვნებულია' %><% end %>
</td>
<td><b><%= link_to l.number, l %></b>
<% if l.own_number -%><br/><span class="secondary_text"><%= l.own_number %></span><% end -%>
</td>
<td><%= l.received.strftime("%d-%b-%Y") %>
<% if l.sent -%><br/><span class="secondary_text"><%= l.sent.strftime("%d-%b-%Y") %></span><% end -%>
</td>
<td><%= l.description %></td>
<td><%= l.name %> <% if l.custnumb and not l.custnumb.empty? %>(<%= l.custnumb %>)<% end %>
<br/>
<% if l.phone and not l.phone.empty?%><span class="secondary_text"><%= l.phone %></span> | <% end %>
<% if l.address and not l.address.empty?%><span class="secondary_text"><%= l.address %></span><% end%>
</td>
<td align="center">
<%= link_to 'შეცვლა', edit_letter_path(l), :class => 'edit' %>
<%= link_to 'წაშლა', l, :confirm => 'ნამდვილად გინდათ ამ წერილის წაშლა?', :method => :delete, :class => 'delete' %>
</td>
</tr>
<% end -%>
</table>
<%= will_paginate @letters, :previous_label => '&larr;', :next_label => '&rarr;' %>
<% else -%>
<div class="empty">სია ცარიელია</div>
<% end -%>