<% if @letters and @letters.any? -%>
<%= will_paginate @letters, :previous_label => '&larr;', :next_label => '&rarr;' %>
<table>
<tr>
<th>&nbsp;</th>
<th>ნომერი</th>
<th>თარიღი</th>
<th>მოკლე შინაარსი</th>
<th>გამომგზავნი</th>
<th style="background-image: url(<%= image_path '16x16/cog.png' %>); background-repeat: no-repeat; background-position: 50% 50%;">&nbsp;</th>
</tr>
<% @letters.each do |l| -%>
<tr>
<td class="shadow" width="16"><%= image_tag(l.status.image_path) %></td>
<td width="80"><b><%= link_to l.number, l %></b>
<% if l.own_number -%><br/><span class="secondary_text"><%= l.own_number %></span><% end -%>
</td>
<td width="85"><%= l.received.strftime("%d-%b-%Y") %>
<% if l.sent -%><br/><span class="secondary_text"><%= l.sent.strftime("%d-%b-%Y") %></span><% end -%>
</td>
<td width="250"><%= l.description %></td>
<td width="250"><%= l.name %> <% if l.custnumb and not l.custnumb.empty? %>(<%= l.custnumb %>)<% end %>
<br/>
<% if l.phone and not l.phone.empty?%><span class="secondary_text"><%= l.phone %></span> | <% end %>
<% if l.address and not l.address.empty?%><span class="secondary_text"><%= l.address %></span><% end%>
</td>
<td width="160" align="center">
<%= link_to 'შეცვლა', edit_letter_path(l), :class => 'edit' %>
<%= link_to 'წაშლა', l, :confirm => 'ნამდვილად გინდათ ამ წერილის წაშლა?', :method => :delete, :class => 'delete' %>
</td>
</tr>
<% end -%>
</table>
<%= will_paginate @letters, :previous_label => '&larr;', :next_label => '&rarr;' %>
<% else -%>
<div class="empty">სია ცარიელია</div>
<% end -%>