<h1>განცხადება №<%= @letter.number %></h1>
<%= render :partial => 'letters/head' %>

<h2 class="common">დირექციის დამატება</h2>
<%= form_for(@letter_department, :url => add_department_url) do |f| -%>
<%= hidden_field_tag :letter_id, @letter.id  %>
<%= f.label :department, 'აარჩიეთ დირექცია' %><br />
<%= f.collection_select(:department_id, Department.all(:order => 'order_by'), :id, :to_s, :include_blank => false) %>
<br/>
<div class="actions">
<%= f.submit 'განყოფილების დამატება' %> ან
<%= link_to 'გაუქმება', @letter %>
</div>
<% end -%>