<h1>განცხადება №<%= @letter.number %></h1>
<div class="actions">
<%= link_to 'შეცვლა', edit_letter_path(@letter), :class => 'edit' %> |
<%= link_to 'სიაში დაბრუნება', letters_path(:index_id => @letter.index.id), :class => 'back' %>
</div>
<%= render :partial => 'letters/head' %>

<!-- დირექციები -->
<h2 class="common">დირექციები</h2>
<div class="actions">
<%= link_to 'დირექციის დამატება', add_department_url(:letter_id => @letter.id) %>
</div>

<% if @letter.departments.any? -%>
<% @letter.departments.each do |d| -%>
<div class="list">
<%= image_tag '16x16/group.png' %>
<%= d.name %>
<%= link_to 'წაშლა', remove_department_url(:letter_id => @letter.id, :department_id => d.id), :confirm => 'ნამდვილად გინდათ დირექციის წაშლა?', :class => 'delete' %>
</div>
<% end -%>
<% else -%>
<p class="secondary_text">სია ცარიელია</p>
<% end -%>

<!-- თანამშრომლები -->
<h2 class="common">თანამშრომლები</h2>
<div class="actions">
<%= link_to 'თანამშრომლის დამატება', add_employee_url(:letter_id => @letter.id) %>
</div>

<% if @letter.employees.any? -%>
<% @letter.employees.each do |e| -%>
<div class="list">
<%= image_tag '16x16/user.png' %>
<%= e.name %>
<%= link_to 'წაშლა', remove_employee_url(:letter_id => @letter.id, :employee_id => e.id), :confirm => 'ნამდვილად გინდათ თანამშრომლის წაშლა?', :class => 'delete' %>
</div>
<% end -%>
<% else -%>
<p class="secondary_text">სია ცარიელია</p>
<% end -%>