<h1>განცხადება №<%= @letter.number %></h1>
<div class="actions">
<%= link_to 'შეცვლა', edit_letter_path(@letter) %> |
<%= link_to 'სიაში დაბრუნება', letters_path(:index_id => @letter.index.id) %>
</div>
<%= render :partial => 'letters/head' %>

<!-- დირექციები -->
<h2 class="common">დირექციები</h2>
<div class="actions">
<%= link_to 'დირექციის დამატება', add_department_url(:letter_id => @letter.id) %>
</div>

<% if @letter.departments.any? -%>
<% index = 1; @letter.departments.each do |d| -%>
<div class="list">
<%= image_tag '16x16/group.png' %>
<%= d.name %>
<%= link_to 'წაშლა', remove_department_url(:letter_id => @letter.id, :department_id => d.id), :confirm => 'ნამდვილად გინდათ დირექციის წაშლა?' %>
</div>
<% index += 1; end -%>
<% else -%>
<p class="secondary_text">სია ცარიელია</p>
<% end -%>

<!-- თანამშრომლები -->
<h2 class="common">თანამშრომლები</h2>