<%= form_for(@index) do |f| %>
  <% if @index.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@index.errors.count, "error") %> prohibited this index from being saved:</h2>

      <ul>
      <% @index.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix, 'პრეფიქსი' %><br />
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label :description, 'აღწერილობა' %><br />
    <%= f.text_field :description, :style => 'width: 600px' %>
  </div>
  <div class="field">
    <%= f.label :last_number, 'ბოლო ნომერი' %><br />
    <%= f.text_field :last_number %>
  </div>
  <div class="field">
    <%= f.label :relation, 'დამოკიდებულება' %><br />
    <%= f.collection_select(:relation_id, Index.all(:order => 'prefix'), :id, :to_s, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit 'შენავა' %> ან <%= link_to 'გაუქმება', @index ? @index : indices_url %>
  </div>
<% end %>