<!DOCTYPE html>
<html>
<head>
<title>კანცელარია</title>
<link href="<%= style_url %>.css" media="screen" rel="stylesheet" type="text/css"/> 
<%= stylesheet_link_tag 'ui-lightness/jquery' %>
<%= javascript_include_tag "jquery.js", "jquery-ui.js", "rails.js", "archive.js" %>
<%= csrf_meta_tag %>
</head>
<body>
<%= render :partial => 'layouts/general/header' %>
<%= render :partial => 'layouts/general/notice' %>
<div id="main">
<%= yield %>
</div>
<%= render :partial => 'layouts/general/footer' %>
</body>
</html>